body {
    background: #FAFAFA;
}

body > .grid {
    height: 100%;
}

.logo {
    margin-top: 0.27em;
}

.home {
    padding-top: 10em !important;
    .column {
        max-width: 500px;
    }
}

.small {
    font-size: 0.8em;
}

.main.container {
    margin-top: 7em;
}

.ui.header:first-child {
    margin-bottom: 1em;
}

.ui.button.primary {
    background: #7999FC;
}

.ui.primary.button:hover {
    background: #5a7ef2;
}

.hidden {
    position: fixed;
    top: -1000px;
}

.ui.progress {
    margin: 0 !important;
}

.ui.purple.progress .bar {
    background-color: #8592FE;
}
